:root {
    --color1 : black; 
	--color2 : white; 
	--color3 : coral; 
	--color4 : lightgreen; 
	--color5 : moccasin; 
	--color6 : violet; 
	--color7 : cornflowerblue; 
	}

@media (orientation: portrait) {
    body {
        background: var(--color1);
        color: var(c_color2);
    }
}

body {
    background: var(--color1);
    color: var(--color2);
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.flex-container > * {
    padding: 10px;
    flex: 1 100%;
}

.main {
    text-align: left;
    background: var(--color7);
}

.header {
    background: var(--color3);
}

.footer {
    background: var(--color4);
}

.aside1 {
    background: var(--color5);
}

.aside2 {
    background: var(--color6);
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 auto;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 3 0px;
    }

    .aside1 {
        order: 1;
    }

    .main {
        order: 2;
    }

    .aside2 {
        order: 3;
    }

    .footer {
        order: 4;
    }
}

.lang {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    background-color : #333;
    box-shadow: 0px 5px 17px 3px var(--color1);
    margin-left: 3px;
}

.lang:hover {
    color: var(--color2);
    font-weight: bold;
    background-color: rgba(121, 85, 72, 0.71);
    box-shadow: inset -34px 0px 52px -7px #3F51B5;
}

.ulLang {
    font-weight: bold;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    margin-bottom: 14px;
    box-shadow: 0px 5px 17px 3px var(--color1);
}

.Sign:hover, .Zulu:hover, .SePedi:hover, .Shangane:hover, .Ndebele:hover, .Afrikaans:hover, .Sotho:hover, .Tswana:hover, .Xhosa:hover, .Swati:hover, .Venda:hover, .Khoisan:hover, .English:hover, .other:hover, .defaultBtn:hover {
    background-color: rgba(121, 85, 72, 0.71);
    font-weight: bold;
    box-shadow: inset -34px 0px 52px -7px #3F51B5;
}

.Sign, .Zulu, .SePedi, .Shangane, .Ndebele, .Afrikaans, .Sotho, .Tswana, .Xhosa, .Swati, .Venda, .Khoisan, .English, .other, .defaultBtn {
    background-color: #000;
    padding: 14px 16px;
    color: white;
    border: 1px solid #000;
    font-weight: bold;
    font-family: Comic Sans MS;
}
