/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
	background-color: #0d1117;
}
#m{
	color: magenta;
}
.navbar {
    overflow: hidden;
    background-
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu > li {
    float: left;
}

.nav-menu li a {
    display: block;
	color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Dropdown Button */
.dropbtn {
    background-color: #4C9AFF; /* Glossy Blue */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-item{
	color: black;
}
.dropdown-content a:hover {
    background-color: #DAAAFF; /* Glossy Purple */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

#countdown {
    text-align: center;
}

#countdown-timer {
    font-size: 3rem;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .nav-menu > li {
        float: none;
        display: block;
        text-align: left;
      }
      .dropdown-content {
        position: relative;
      }
}
